h2 {
    border-bottom: 3px solid orangered;
    width: 150px;
    margin-left: 30px;
}

.container1 {
    border: 1px solid gray;
    width: 70px;
    height: 70px;
    text-align: center;
    transform: rotate(45deg);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    margin-left: 30px;
}

p {
    color: gray;
    margin-left: 30px;
    margin-right: 20px;
}

table {
    width: 70%;
    margin-left: 30px;
}

.ico {
    margin-top: 18px;
    font-size: 30px;
    color: orangered;
    transform: rotate(-45deg);
}


